/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.car-img {
  width: 40%;
}

.color-bubble {
  height: 2rem;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  border: thin solid black;
}